{% extends 'blog/base.html' %}

{% block title %} Post {% endblock %}




{% block content %}

    <h1>Post</h1>

<div align="center"><!-- Посты -->
    {% for post in blog_post_user_list %}
    <h2>{{ post.title }}</h2>

    <div align="justify" class="lead col-8"><!-- Пост -->

        {{ post.content|safe|truncatewords:50 }}

        <div align="right"><!-- Дата -->
            <footer class="blockquote-footer">{{ post.date_created|date:"j F G:i" }} <cite title="Source Title">(update in {{ post.date_updated|date:"j F G:i" }})</cite></footer>
        </div>
        <div class="clear"></div>
        <div class="link-read-post"><a href="{{ p.get_absolute_url }}">ещё</a> </div>
    </div>
    <br>
    <br>

{% endfor %}

</div>

{% endblock %}